<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../../partials/home/styles %>
	<% include ../../partials/home/head %>
	<title>WARGEN - <%= titulo %></title>
</head>
<body>
	<article id="home">
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
		<h2><code>nav</code> Isn't for <em>All</em> Links</h2>
		<p>Though the <code>nav</code> element often contains links, that doesn't mean that <em>all</em> links on a site need <code>nav</code>.</p>
	</article>
	<article id="screenshots">
		<h2>You've Got the <code>DOCTYPE</code>. Now What?</h2>
		<p>HTML5 isn't an all or nothing proposition. You can pick and choose what works best for you. So once you have the <code>DOCTYPE</code> in place, you should explore.</p>
	</article>
	<article id="creditos">
		<h2>You've Got the <code>DOCTYPE</code>.</h2>
		<p>HTML5 isn't an all or nothing proposition. You can pick and choose what works best for you. So once you have the <code>DOCTYPE</code> in place, you should explore.</p>
	</article>
	<article id="contato">
		<h2>You've Got the <code>DOCTYPE</code>. WHAT WHAT?</h2>
		<p>HTML5 isn't an all or nothing proposition. You can pick and choose what works best for you. So once you have the <code>DOCTYPE</code> in place, you should explore.</p>
	</article>

	<% include ../../partials/home/scripts %>
</body>
</html>